.home-content {
  padding-left: 250px;
  padding-right: 250px;
}

.home-content .home-box-contact {
  margin-top: 45px;
  background-color: #455871;
  position: absolute;
  padding: 35px;
  display: inline;
}

p a {
  text-decoration: none;
}

p a:link {
  color: red;
}

p a:visited {
  color: red;
}

p a:hover {
  color: #888282;
}
