.row {
  margin-right: -15px;
  margin-left: -15px;
}

.home-content {
  height: 90vh;
  background-color: rgba(45, 58, 75, 0.5);
  background-image: url(img/fourth-bg.png);
  padding: 0px 60px;
  position: relative;
  margin: 10vh auto 0 auto;
}

.home-content .home-box-content {
  margin-top: 45px;
  background-color: #455871;
  position: relative;
  right: -100px;
  padding: 30px;
  display: inline-block;
}

.home-content .left-text h4 {
  display: inline-block;
  padding-bottom: 5px;
  font-size: 22px;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 0px;
  margin-bottom: 10px;
  border-bottom: 2px solid #fff;
}

home-content .left-text p {
  color: #fff;
  margin-bottom: 25px;
}

.home-content .right-image {
  float: right;
}
